In [1]:
import pandas as pd

In [2]:
p=pd.read_csv('train.csv')

In [4]:
p.shape

(31962, 3)

In [5]:
p.drop(['id'],axis=1,inplace=True)

In [6]:
p.shape

(31962, 2)

In [7]:
p.head()

   label                                              tweet
0      0   @user when a father is dysfunctional and is s...
1      0  @user @user thanks for #lyft credit i can't us...
2      0                                bihday your majesty
3      0  #model   i love u take with u all the time in ...
4      0             factsguide: society now    #motivation

In [9]:
p['label'].value_counts()

0    29720
1     2242
Name: label, dtype: int64

In [10]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer()

In [11]:
mat=pd.DataFrame(cv.fit_transform(p['tweet']).toarray(),columns=cv.get_feature_names(),index=None)
mat['label']=p['label']
mat

,00,000,000001,001,0099,00am,00h30,00pm,01,0115,...,ðºð¾ñ,ð¼ð,ð½ð,ð¾ð,ð¾ð½ð,ð¾ð½ðµð,ð¾ñ,ó¾,øª,ø¹ù
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31957,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31958,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31959,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31960,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31961,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
import re
import nltk
from nltk.stem import PorterStemmer
from nltk.corpus import stopwords
from nltk.tokenize import sent_tokenize, word_tokenize

In [13]:
st=PorterStemmer()

In [16]:
def token(tweet):
    tweet=st.stem(tweet)
    tweet=re.sub(r'\W+|\d+|_', " ", tweet)
    tokens=nltk.word_tokenize(tweet)
    return tokens

In [18]:
cv=CountVectorizer(min_df=5, tokenizer=token, stop_words=stopwords.words('english'))
mat=pd.DataFrame(cv.fit_transform(p['tweet']).toarray(),columns=cv.get_feature_names(),index=None)
mat['label']=p['label']
mat.head()

C:\Users\nithi\Anaconda3\lib\site-packages\sklearn\feature_extraction\text.py:300: UserWarning: Your stop_words may be inconsistent with your preprocessing. Tokenizing the stop words generated tokens ['abov', 'ani', 'becaus', 'befor', 'doe', 'dure', 'ha', 'hi', 'onc', 'onli', 'ourselv', 'r', 'themselv', 'thi', 'v', 'veri', 'wa', 'whi', 'yourselv'] not in stop_words.
  'stop_words.' % sorted(inconsistent))

,aap,abandoned,abc,ability,able,abrahamhicks,absolute,absolutely,abt,abundance,...,ì,í,ï,ï¼,ð,ðºð,ñ,ó¾,ø,ù
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,7,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
X=mat.drop(['label'],axis=1)

In [20]:
y=mat['label']

In [21]:
train=mat[:1900]
test=mat[1900:]

In [22]:
Xtrain=train.drop(['label'],axis=1)
Xtest=test.drop(['label'],axis=1)
ytrain=train['label']
ytest=test['label']

In [23]:
from sklearn.linear_model import LogisticRegression
lor=LogisticRegression()
lor.fit(Xtrain,ytrain)

C:\Users\nithi\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [24]:
lor.predict(Xtest)

array([0, 0, 0, ..., 0, 1, 0], dtype=int64)

In [25]:
lor.score(Xtest,ytest)

0.9401237442618589

In [26]:
from sklearn.model_selection import cross_val_score
cv=cross_val_score(lor,X,y,cv=10)

C:\Users\nithi\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\nithi\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\nithi\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\nithi\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\nithi\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\nithi\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\nithi\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\nithi\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\nithi\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\nithi\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [27]:
cv.mean()

0.9595143072569206

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier(n_neighbors=5)
knn.fit(Xtrain,ytrain)